<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Houve uma solicitação para a troca de senha da sua conta.</p>
  <p>Caso esta requisição tenha sido feita por você, então clique no link abaixo para redefinir a senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>
    Caso não tenha sido você, desconsidere este e-mail.
  </p>
  <p>Obrigado, <br /> <strong>Equip GoBarber</strong></p>
</div>
